
.calculatorDiv {
  width: 800px; 
  height: 880px;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: solid;
}


.App {
  text-align: center;
}


.display {
  background-color: lightblue; 
  border: solid;
  font-size: 70px;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

.operations {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  border: solid;
  height: 148px;
  width: 148px;
  font-size: 70px;
}


