:root{
  --container-max-width-default: 40%;
  --container-max-width-medium: 57%;
  --container-max-width-small: 90%;
}

.container {
  max-width: var(--container-max-width-default)!important;
  border-top: 0px;
  padding: 0px;
  box-shadow: var(--container-shadow);
  background-color: var(--container-bg);
  color: var(--subtle-dark);
  position: relative;

  border: solid;
}

@media (max-width: 992px) {
  .container {
    max-width: var(--container-max-width-small)!important;
  }
}

@media screen and (max-width: 1300px) and (min-width: 993px) {
  .container {
    max-width: var(--container-max-width-medium)!important;
  }
}

.App {
  text-align: center;
}


.display {
  border: solid;
  font-size: 70px;
  display: flex;
  flex-direction: row-reverse;
}

.operations {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  border: solid;
  height: 140px;
  width: 140px;
  font-size: 70px;
}


